#currentWeather, #forecast {
    display: none;
    margin: 0 20px;
    width: 80%;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
#location {
    font-size: x-large;
}

body {
    font-family: sans-serif;
}

@media screen and (max-width: 1455px) {
    
    #currentWeather, #forecast {
        width: 90%;
    }
    
    #leftBar {
        width: 100%;
    }
}
/* 
@media screen and (max-width: 712px) {
    
    #currentWeather, #forecast {
        margin: 0;
    }

    

} */
