#currentWeather, #forecast {
    display: none;
    margin: 0 20px;
    width: 80%;
}

#leftBar {
    width: 20%;
}

#location {
    font-size: x-large;
}

body {
    font-family: sans-serif;
}

@media screen and (max-width: 1455px) {
    
    #currentWeather, #forecast {
        width: 90%;
    }
    
    #leftBar {
        width: 100%;
    }
}
/* 
@media screen and (max-width: 712px) {
    
    #currentWeather, #forecast {
        margin: 0;
    }

    

} */
